
.avatar {
    position: relative;
  }
  
  .avatar-status {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid white; /* Adjust the border size and color as needed */
  }